<h1>Welcome to TutorCollective</h1>
<p>The premier tutoring marketplace.</p>


<!-- Register Modal -->
<div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="registerModalLabel">Register</h3>
  </div>
  <div class="modal-body">
    <%= render 'tutors/form' %>
  </div>
  <div class="modal-footer">
  </div>
</div>

<!-- Login Modal -->
<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="loginModalLabel">Login</h3>
  </div>
  <div class="modal-body">
    <%= render 'sessions/form' %>
  </div>
  <div class="modal-footer">
  </div>
</div>