<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar">
  <span class="icon-bar">
  <span class="icon-bar">
</button>
<%= link_to 'TutorCollective', root_path, :class => 'brand' %>
<div class="nav-collapse collapse">         
  <ul class="nav pull-right">            
    <% if current_user %>
    <li>
    <%= link_to 'Logout', logout_path %>
    </li>
    <% else %>
    <li>
    <%= link_to 'Register', '#registerModal', 'data-toggle' => 'modal' %>
    </li>
    <li>
    <%= link_to 'Login', '#loginModal', 'data-toggle' => 'modal' %>
    </li>
    <% end %>
  </ul>
</div>
</div>
</div>
</div>